<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link href="~/content/questr-styles.css" rel="stylesheet" />
</head>
<div id="div-footer" >
    <div id="div-footer-content" >Footer Content</div>
</div>
