<div>
    <div class="dtable pad15 floatl padr40">
        <!--HP-->
        <div class="dtrow">
            <span class="dtcell mm-stat-item-text">HP</span>
            <input type="text" class="form-control mm-stat-item-input din pad10 dtcell" maxlength="5" />
            <span class="dtcell input-size-slash">/</span>
            <input type="text" class="form-control mm-stat-item-input din pad10 dtcell" maxlength="5" />
        </div>
    </div>

    <div class="dtable pad15 floatl padr40">
        <!--AC-->
        <div class="dtrow">
            <span class="dtcell mm-stat-item-text">AC</span>
            <input type="text" class="form-control mm-stat-item-input din pad10 dtcell" maxlength="5" />
        </div>
    </div>

    <div class="dtable pad15 floatl">
        <!--STATS-->
        <div class="dtrow">
            <span class="dtcell mm-stat-item-text">STR:</span>
            <input type="text" class="form-control mm-stat-item-input din pad10 dtcell" maxlength="5" />

            <span class="dtcell mm-stat-item-text padl15">DEX:</span>
            <input type="text" class="form-control mm-stat-item-input din pad10 dtcell" maxlength="5" />

            <span class="dtcell mm-stat-item-text padl15">CON:</span>
            <input type="text" class="form-control mm-stat-item-input din pad10 dtcell" maxlength="5" />

            <span class="dtcell mm-stat-item-text padl15">INT:</span>
            <input type="text" class="form-control mm-stat-item-input din pad10 dtcell" maxlength="5" />

            <span class="dtcell mm-stat-item-text padl15">WIS:</span>
            <input type="text" class="form-control mm-stat-item-input din pad10 dtcell" maxlength="5" />

            <span class="dtcell mm-stat-item-text padl15">CHA:</span>
            <input type="text" class="form-control mm-stat-item-input din pad10 dtcell" maxlength="5" />
        </div>
    </div>

    <div class="pad15" style="padding-bottom: 13px;">
        <textarea class="form-control din" rows="5" style="width: 48%; max-width: 48%;"></textarea>
        <textarea class="form-control din" rows="5" style="width: 48%; max-width: 48%;"></textarea>
    </div>
</div>
