    <!--expression evaluator-->
<label>Expression Evaluator:</label>
<div class="do-border">
    <div class="input-group" id="ee-input-container">
        <input type="text" class="form-control" id="ee-input" placeholder="Example: 1+1">
        <span class="input-group-btn">
            <input type="button" class="btn btn-default" id="btn-ee-go" value="Go" />
        </span>
    </div>

    <div id="ee-logger">
        <textarea class="form-control" readonly="readonly" id="ee-log-results"></textarea>
    </div>
</div>
